<div class="container-answer">
  <div class="answer">
    <h3><%= @answer %></h3>
    <h3>- <em>You</em></h3>
  </div>
  <br>
  <div class="answer">
    <% if @answer == "I am going to work" %>
      <h2>Great!</h2>
      <h2>- <em>Coach</em></h2>
    <% elsif @answer.include? "?" %>
      <h2>Silly question, get dressed and go to work!</h2>
      <h2>- <em>Coach</em></h2>
    <% else %>
      <h2>I don't care, get dressed and go to work!</h2>
      <h2>- <em>Coach</em></h2>
    <% end %>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</div>
